.homepage-content {
    height: 100%;
    width: 100%;
}
.logo-name {
    display: flex;
    height: 200px;
}
.alexandra-name {
    position: absolute;
    font-style: oblique;
    font-size: 90px;
    font-weight: 900;
    height: 200px;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
    text-shadow: 0px  10px 10px #EEC0C6;
    color: white;
    z-index: 1;
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -20px;
    float: left;
}
p {
    height: 200px;
}
@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
.onet-name {
    position: relative;
    font-style: oblique;
    font-family: 'Helevita', cursive;
    letter-spacing: -2px;
    margin-left: 45%;
    height: 200px;
    font-size: 70px;
    z-index: 2;
    font-weight: 400;
    font-size: 90px;
    opacity: 0.5;
    animation: smoky 3s 1s both;
}
.onet-name:nth-child(even){
    animation-name: smoky-mirror;
}
@keyframes smoky {
    60% {
      text-shadow: 0 0 40px whitesmoke;
    }
    to {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
@keyframes smoky-mirror {
    60% {
      text-shadow: 0 0 40px whitesmoke; }
    to {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
.homepage-description {
      display: flex;
      flex-direction: row;
      width: 100%;
  }
.motto-background1 {
    position: relative;
    z-index: 3;
    margin-right: 0;
    margin-left: 700px;
    margin-bottom: 30px;
    margin-top: 40px;
    width: 600px;
    height: 400px;
    background-color: #FAE1DF;
}
.motto-content {
    position: absolute;
    z-index: 5;
    margin-top: -350px;
    background-color: rgba(0,0,0,0.05);
    width: 400px;
    height: 500px;
    margin-left: 35%;
    color: gray;
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-align: center;
    font-weight: 700;
    animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	
	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;
	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	
	visibility: visible !important;	
}
@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}
@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}
.motto-background2 {
    position:relative;
    z-index: 4;
    margin-top: -60px;
    margin-left: 30px;
    width: 550px;
    height: 400px;
    margin-bottom: 20px;
    background-color: #EEC0C6;
}