.homepage-container {
	width: 100%;
	height: 100%;
}
.homepage-conten {
	width: 100%;
	height: 100%;
}
.logo-name {
    display: flex;
    height: 200px;
}
.alexandra-name {
    position: absolute;
    font-style: oblique;
    font-size: 90px;
    font-weight: 900;
    height: 200px;
    margin-left: 30%;
    text-shadow: 0px  10px 10px #577399;
    color: #FFFFFF;
    z-index: 1;
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -20px;
    float: left;
    z-index: 1;
}
@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
.homepage-description {
    width: 100%;
    height: 100%;
}
.motto-container {
    display: flex;
    justify-content: space-around;
}
.motto-background1 {
	/* background: rgb(242,132,130);
	background: linear-gradient(90deg, rgba(242,132,130,1) 0%, rgba(245,202,195,1) 34%, rgba(247,237,226,1) 100%);	 */
		
	background-color: #BDD5EA;
	width: 350px;
	height: 350px;
	margin-top: 30%;
	margin-left: 1%;
	margin-bottom: 5%;
}
.motto-content {
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20%;
    margin-left: 1%;
	margin-top: 15%;
	padding: 0px 50px 0px 50px;
    width: 300px;
    height: 400px;
    font-size: 40px;
    letter-spacing: 2px;
    color: #495867;
    word-spacing: 5px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	
	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;
	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	
	visibility: visible !important;	
}
@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}
@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}
.motto-content p{
  animation-name: pulse;
	-webkit-animation-name: pulse;	
	animation-duration: 5s;	
	-webkit-animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.93);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.93);
		opacity: 0.7;	
	}			
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}
.motto-background2 {
	/* background: rgb(247,237,226);
	background: linear-gradient(90deg, rgba(247,237,226,1) 0%, rgba(245,202,195,1) 56%, rgba(242,132,130,1) 100%); */
	
	background-color: #577399;
	width: 350px;
	height: 350px;
	margin-left: -25%;
    margin-bottom: 20%;
    margin-top: 7%;
}