.logo-name {
    display: flex;
    height: 200px;
}
.alexandra-name {
    position: absolute;
    font-style: oblique;
    font-size: 90px;
    font-weight: 900;
    height: 200px;
    margin-left: 30%;
    text-shadow: 0px  10px 10px #EEC0C6;
    color: white;
    z-index: 1;
    animation: swing ease-in-out 3s infinite alternate;
    transform-origin: center -20px;
    float: left;
    z-index: 1;
}
@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}
.onet-name {
    position: relative;
    font-style: oblique;
    font-size: 90px;
    letter-spacing: -2px;
    height: 200px;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 45%;
    z-index: 2;
    animation: smoky 3s 1s both;
}
@keyframes smoky {
    60% {
      text-shadow: 0 0 40px whitesmoke;
    }
    to {
      transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
@keyframes smoky-mirror {
    60% {
      text-shadow: 0 0 40px whitesmoke; }
    to {
      transform:
        translate3d(18rem,-8rem,0)
        rotate(-40deg) 
        skewX(-70deg)
        scale(2);
       text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
.homepage-description {
    width: 100%;
    height: 100%;
}
.motto-container {
    display: flex;
    justify-content: space-around;
}
.motto-background1 {
    background-color: #EEC0C6;
    width: 500px;
    height: 400px;
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.motto-content {
    background-color: rgba(0,0,0,0.05);
    margin-top: 20%;
    margin-left: 10%;
    width: 400px;
    height: 400px;
    font-size: 45px;
    letter-spacing: 2px;
    color: gray;
    word-spacing: 5px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    animation-name: bigEntrance;
	-webkit-animation-name: bigEntrance;	
	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;
	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	
	visibility: visible !important;	
}
@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}		
}
@-webkit-keyframes bigEntrance {
	0% {
		-webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		-webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);		
		opacity: 1;
	}
	45% {
		-webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		-webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	75% {
		-webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		-webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);		
		opacity: 1;
	}	
	100% {
		-webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}				
}
.motto-content p{
  animation-name: pulse;
	-webkit-animation-name: pulse;	
	animation-duration: 5s;	
	-webkit-animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.93);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.93);
		opacity: 0.7;	
	}			
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}
.motto-background2 {
    background-color: #FAE1DF;
    width: 500px;
    height: 400px;
    margin-bottom: 20%;
    margin-left: 1%;
    margin-top: 5%;
}