@media only screen and (max-width: 300px){ 
    .header-container {
        height: 40px;
    }
    .header-content-full {
        display: none;
    }
    .burger-button-container {
        display: flex;
    }
    .burger-button-content {
        display: flex;
        transition: all .5s ease;
        width: 30px;
        height: 30px;
        padding-top: 10px;
        padding-left: 5px;
    }
    .burger-button-img {
        width: 20px;
        height: 20px;
        display: flex;
    }
    .burger-button-container:hover .list-burger-button {
        display: block;
    }
    .list-burger-button {
        display: none;
        list-style: none;
        z-index: 2;
        text-align: center;
        width: 30%;
        height: 170px;
        margin-left: -30%;
        margin-top: 40px;
        background-color: rgba(189,213,234, 0.7);
        border-radius: 0px 0px 10px 10px;
    }
    .list-burger-button li{
        margin-left: -35px;
    }
    .burger-button-header-container {
        width:200px;
        height: 200px;
    }
    .burger-button-header-content:focus {
        border: none;
        outline: none;
    }
    .burger-button-header-content {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
    }
    .alexandra-name {
        font-size: 20px;
        font-weight: 900;
        height: 200px;
        margin-left: 15%;
        z-index: 1;
    }
    .motto-background1 {
        width: 150px;
        height: 150px;
        margin-top: 15%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: -30%;
        margin-left: 10%;
        width: 100px;
        height: 200px;
        font-size: 17px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 150px;
        height: 150px;
        margin-bottom: 20%;
        margin-left: -25%;
        margin-top: -40%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 60%;
        margin-left: 5%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 7%;
        width: 250px;
        height: 350px;
    }
    .entrance-text {
        width: 200px;
        margin-left: 5%;
    }
    .img-personal-details {
        width: 270px;
        height: 350px;
        margin-left: 4%;
        margin-right: 5%;
        margin-top: 0px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -360px;
        margin-left: 15%;
    }
    .personaldetails-logo {
        margin-left: 10%;
        z-index: 2;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
                margin-top: 50px;
        margin-bottom: 50px;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    margin-top: 10px;
}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 40px;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 30px;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 10px;
}
.send-email {
	margin-left: 5%;
	margin-top: 30px;
    width: 60%;
    padding: 40px;
}
.container-sendemail {
	width: 200px;
}
.button-sendemail {
	width: 200px;
}
.mywork-content  {
	height: 250px;
}
.carousel-content {
    display: none;
}

}
@media only screen and (min-width: 301px) and (max-width: 354px){ 
    .header-container {
        height: 40px;
    }
    .header-content-full {
        display: none;
    }
    .burger-button-container {
        display: flex;
    }
    .burger-button-content {
        display: flex;
        transition: all .5s ease;
        width: 30px;
        height: 30px;
        padding-top: 10px;
        padding-left: 5px;
    }
    .burger-button-img {
        width: 20px;
        height: 20px;
        display: flex;
    }
    .burger-button-container:hover .list-burger-button {
        display: block;
        position: fixed!important;
    }
    .burger-button-container:focus .list-burger-button {
        display: none;
    }
    .list-burger-button {
        display: none;
        list-style: none;
        position: relative;
        z-index: 2;
        text-align: center;
        width: 30%;
        height: 170px;
        margin-left: -30%;
        margin-top: 40px;
        background-color: rgba(189,213,234, 0.7);
        border-radius: 0px 0px 10px 10px;
    }
    .list-burger-button li{
        margin-left: -35px;
    }
    .burger-button-header-container {
        width:200px;
        height: 200px;
    }
    .burger-button-header-content:focus {
        border: none;
        outline: none;
    }
    .burger-button-header-content {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
    }
    .alexandra-name {
        font-size: 30px;
        font-weight: 900;
        height: 200px;
        margin-left: 10%;
        z-index: 1;
    }
    .motto-background1 {
        width: 200px;
        height: 170px;
        margin-top: 45%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 5%;
        margin-left: 10%;
        width: 150px;
        height: 250px;
        font-size: 20px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 200px;
        height: 170px;
        margin-bottom: 20%;
        margin-left: -25%;
        margin-top: -15%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 60%;
        margin-left: 5%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 5%;
        width: 300px;
        height: 400px;
    }
    .entrance-text {
        width: 230px;
        margin-left: 5%;
    }
    .img-personal-details {
        width: 300px;
        height: 400px;
        margin-left: 4%;
        margin-right: 5%;
        margin-top: 0px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -360px;
        margin-left: 15%;
    }
    .personaldetails-logo {
        margin-left: 10%;
        z-index: 2;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
                margin-top: 50px;
        margin-bottom: 50px;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    margin-top: 10px;
}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 40px;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 30px;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 10px;
}
.send-email {
	margin-left: 5%;
	margin-top: 30px;
    width: 60%;
    padding: 40px;
}
.container-sendemail {
	width: 200px;
}
.button-sendemail {
	width: 200px;
}
.mywork-content  {
	height: 250px;
}
.carousel-content {
    display: none;
}
}
@media only screen and (min-width: 355px) and (max-width: 400px){ 
    .header-container {
        height: 40px;
    }
    .header-content-full {
        display: none;
    }
    .burger-button-container {
        display: flex;
    }
    .burger-button-content {
        display: flex;
        transition: all .5s ease;
        width: 30px;
        height: 30px;
        padding-top: 10px;
        padding-left: 5px;
    }
    .burger-button-img {
        width: 20px;
        height: 20px;
        display: flex;
    }
    .burger-button-container:hover .list-burger-button {
        display: block;
        position: fixed!important;
    }
    .list-burger-button:active {
        display: none;
    }
    .list-burger-button {
        display: none;
        list-style: none;
        position: relative;
        z-index: 2;
        text-align: center;
        width: 30%;
        height: 170px;
        margin-left: -30%;
        margin-top: 40px;
        background-color: rgba(189,213,234, 0.7);
        border-radius: 0px 0px 10px 10px;
    }
    .list-burger-button li{
        margin-left: -35px;
    }
    .burger-button-header-container {
        width:200px;
        height: 200px;
    }
    .burger-button-header-content:focus {
        border: none;
        outline: none;
    }
    .burger-button-header-content {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
    }
    .alexandra-name {
        font-size: 40px;
        font-weight: 900;
        height: 200px;
        margin-left: 15%;
        z-index: 1;
    }
    .motto-background1 {
        width: 200px;
        height: 170px;
        margin-top: 45%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 5%;
        margin-left: 10%;
        width: 150px;
        height: 250px;
        font-size: 20px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 200px;
        height: 170px;
        margin-bottom: 20%;
        margin-left: -25%;
        margin-top: -15%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 60%;
        margin-left: 5%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 5%;
        width: 330px;
        height: 400px;
    }
    .entrance-text {
        width: 270px;
        margin-left: 5%;
    }
    .img-personal-details {
        width: 330px;
        height: 400px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -360px;
        margin-left: 15%;
    }
    .personaldetails-logo {
        margin-left: 10%;
        z-index: 2;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
                margin-top: 50px;
        margin-bottom: 50px;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    margin-top: 10px;
}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 40px;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 30px;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 10px;
}
.send-email {
	margin-left: 5%;
	margin-top: 30px;
    width: 60%;
    padding: 40px;
}
.container-sendemail {
	width: 200px;
}
.button-sendemail {
	width: 200px;
}
.mywork-content  {
	height: 250px;
}
.carousel-content {
    display: none;
}
}
@media only screen and (min-width: 401px) and (max-width: 499px){ 
    .header-container {
        height: 40px;
    }
    .header-content-full {
        display: none;
    }
    .burger-button-container {
        display: flex;
    }
    .burger-button-content {
        display: flex;
        transition: all .5s ease;
        width: 30px;
        height: 30px;
        padding-top: 10px;
        padding-left: 5px;
    }
    .burger-button-img {
        width: 20px;
        height: 20px;
        display: flex;
    }
    .burger-button-container:hover .list-burger-button {
        display: block;
        position: fixed!important;
    }
    .list-burger-button {
        display: none;
        list-style: none;
        position: relative;
        z-index: 2;
        text-align: center;
        width: 30%;
        height: 170px;
        margin-left: -30%;
        margin-top: 40px;
        background-color: rgba(189,213,234, 0.7);
        border-radius: 0px 0px 10px 10px;
    }
    .list-burger-button li{
        margin-left: -35px;
    }
    .burger-button-header-container {
        width:200px;
        height: 200px;
    }
    .burger-button-header-content:focus {
        border: none;
        outline: none;
    }
    .burger-button-header-content {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
    }
    .alexandra-name {
        font-size: 40px;
        font-weight: 900;
        height: 200px;
        margin-left: 20%;
        z-index: 1;
    }
    .motto-background1 {
        width: 220px;
        height: 180px;
        margin-top: 45%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 5%;
        margin-left: 10%;
        width: 150px;
        height: 300px;
        font-size: 25px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 220px;
        height: 180px;
        margin-bottom: 20%;
        margin-left: -25%;
        margin-top: -15%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 70%;
        margin-left: 5%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 70px;
        width: 300px;
        height: 350px;
    }
    .entrance-text {
        width: 300px;
        margin-bottom: 10px;
    }
    .img-personal-details {
        width: 355px;
        height: 400px;
        margin-top: 10px;
        margin-left: 10%;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -360px;
        margin-left: 60px;
    }
    .personaldetails-logo {
        margin-left:50px;
        z-index: 2;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left: 10%;
        margin-top: 50px;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    padding-left: 15%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-top: -60px;
}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 40px;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 30px;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 13px;
}
.send-email {
	margin-left: 5%;
	margin-top: 30px;
    width: 70%;
    padding: 40px;
}
.container-sendemail {
	width: 300px;
}
.button-sendemail {
	width: 300px;
}
.mywork-content  {
	height: 250px;
}
.carousel-content {
    display: none;
}
}
@media only screen and (min-width: 500px) and (max-width: 664px){
    .header-content {
        width: 90%;
        margin-left: 5%;
      } 
    .header-content-full {
        height: 100%;
        width: 300px;
        margin-left: 5px;
    }
    .burger-button-container {
        display: none;
    }
    .button-header-content {
        font-size: 15px;
        width: 80px;
}
.logo-namme p {
    margin-top: 7%;
    width: 100px;
}
    .alexandra-name {
        font-size: 50px;
        font-weight: 900;
        height: 200px;
        margin-left: 20%;
        z-index: 1;
    }
    .motto-background1 {
        width: 200px;
        height: 200px;
        margin-top: 30%;
        margin-left: 5%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 5%;
        margin-left: 10%;
        width: 200px;
        height: 250px;
        font-size: 25px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 200px;
        height: 200px;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-top: -5%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 10%;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 70%;
        margin-left: 10%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 15%;
        width: 70%;
        height: 60%;
    }
    .entrance-text {
        width: 80%;
        margin-left: 5%;
    }
    .img-personal-details {
        margin-left: 10%;
        width: 70%;
        height: 60%;
        margin-top: 10px;
        margin-left: 15%;
        margin-bottom: 20px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -90%;
        margin-left: 25%;
    }
    .personaldetails-logo {
        margin-left: 20%;
        z-index: 2;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
        margin-top: 40%;
        margin-bottom: 50px;
        width: 75%;
        margin-left: 5%;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    margin-top: 10px;
    width: 75%;

}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 15%;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 10%;
    width: 80%;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 13px;
}
.send-email {
	margin-left: 10%;
	margin-top: 30px;
    width: 70%;
    padding: 40px;
}
.container-sendemail {
	width: 400px;
}
.button-sendemail {
    width: 400px;
}
.mywork-content  {
	height: 500px;
}
    .carousel-item p {
        font-size: 15px;
    }
    .movieandchill-carousel img {
        width: 250px;
    }
}
@media only screen and (min-width: 665px) and (max-width: 800px){ 
    .header-content-full {
        height: 100%;
        width: 300px;
        margin-left: 10px;
    }
    .burger-button-container {
        display: none;
    }
    .button-header-content {
        font-size: 15px;
        width: 80px;
}
.logo-namme p {
    margin-top: 7%;
    width: 150px;
}
    .alexandra-name {
        font-size: 50px;
        font-weight: 900;
        height: 200px;
        margin-left: 25%;
        z-index: 1;
    }
    .motto-background1 {
        width: 250px;
        height: 250px;
        margin-top: 30%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 5%;
        margin-left: 10%;
        width: 350px;
        height: 300px;
        font-size: 35px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 250px;
        height: 250px;
        margin-bottom: 20%;
        margin-left: 0%;
        margin-top: -7%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 10%;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 70%;
        margin-left: 10%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 15%;
        width: 70%;
        height: 60%;
    }
    .entrance-text {
        width: 80%;
        margin-left: 5%;
    }
    #motto-resume {
        margin-top: 10px;
    }
    .img-personal-details {
        margin-left: 20%;
        width: 60%;
        height: 20%;
        margin-top: 10px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    .name-surname {
        margin-top: -70%;
        margin-left: 30%;
    }
    .personaldetails-logo {
        margin-left: 25%;
        z-index: 2;
        width: 60%;
        height: 100%;
    }
    .education-details {
        padding-left: 15%;
        padding-top: 30px;
        margin-top: 30%;
        margin-bottom: 50px;
        width: 75%;
        margin-left: 5%;

}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    width: 75%;
    margin-left: 5%;
    margin-top: 10px;

}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 15%;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    margin-left: 10%;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 13px;
}
.mywork-content  {
	height: 550px;
}
    .carousel-item p {
        font-size: 20px;
    }
    .movieandchill-carousel img {
        width: 400px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1000px){ 
    .header-content-full {
        height: 100%;
        width: 300px;
        margin-left: 10px;
    }
    .burger-button-container {
        display: none;
    }
    .button-header-content {
        font-size: 15px;
        width: 80px;
}
.logo-namme p {
    margin-top: 7%;
    width: 150px;
}
    .alexandra-name {
        font-size: 50px;
        font-weight: 900;
        height: 200px;
        margin-left: 30%;
        z-index: 1;
    }
    .motto-background1 {
        width: 300px;
        height: 300px;
        margin-top: 30%;
        margin-left: 1%;
    }
    .motto-content {
        background-color: rgba(0,0,0,0.05);
        margin-top: 15%;
        margin-left: 10%;
        width: 300px;
        height: 300px;
        font-size: 35px;
        font-weight: 500;
    }
    .motto-background2 {
        width: 300px;
        height: 300px;
        margin-bottom: 20%;
        margin-left: 0%;
        margin-top: 1%;
    }
    .contact-content h1 {
        font-size: 20px;
        margin-left: 15%;
        margin-top: 15px;
    }
    .contactme {
        flex-direction: column;
        width: 70%;
        margin-left: 10%;
    }
    .contact-online {
        display: flex;
        margin-top: 20px;
    }
    .img-details {
        margin-left: 0;
        flex-direction: column;
    }
    .img-details img{
        margin-left: 15%;
        width: 70%;
        height: 60%;
    }
    .entrance-text {
        width: 80%;
        margin-left: 7%;
    }
    .img-personal-details {
        margin-left: 25%;
        width: 50%;
        height: 20%;
        margin-top: 10px;
        border-radius: 15px;
        animation: none;
        transform: none;
        opacity: 0.6;
    }
    #motto-resume {
        margin-top: -2%;
    }
    .name-surname {
        margin-top: -55%;
        margin-left: 30%;
    }
    .personaldetails-logo {
        margin-left: 35%;
        z-index: 2;
        width: 60%;
        height: 100%;
    }
    .education-details {
        padding-left: 10%;
        padding-top: 30px;
        margin-top: 25%;
        margin-bottom: 50px;
        width: 80%;
}
.year {
    margin-left: -40px;
}
.speciality {
    margin-left: 10px;
}
.speciality h5 {
    height: 40px;
}
.speciality p {
    margin-top: -20px;
    font-size: 10px;
}
.hobbies-details {
    width: 80%;
    margin-top: 10px;
    padding-left: 10%;
}
.hobbies-content {
    padding-left: 10%;
}
.myskills-content h2, .language-skills h2, .mywork-skills h2 {
    margin-top: 20px;
    margin-left: 15%;
}
.soft-skills-content, .language-skills-content, .mywork-content {
    width: 80%;
}
.bar {
    margin-left:20px;
}
.bar span {
    height: 20px;
    float: left;
}
.find-mywork p {
    font-size: 15px;
}
.link-to-mywork h3 {
    font-size: 15px;
    margin-left: 5px;
}
.mywork-link {
    font-size: 13px;
}
.mywork-content  {
	height: 600px;
}
    .carousel-item p {
        font-size: 20px;
    }
    .movieandchill-carousel img {
        width: 500px;
    }
}
@media only screen and (min-width: 1001px) and (max-width: 1299px){ 
    .header-content-full {
        height: 100%;
        width: 300px;
        margin-left: 10px;
    }
    .burger-button-container {
        display: none;
    }
    .button-header-content {
        font-size: 15px;
        width: 80px;
}
.alexandra-name {
    margin-left: 20%;
}
.logo-namme p {
    margin-top: 7%;
    width: 150px;
}
.img-details {
    margin-left: 150px;
}
.entrance-text {
    width: auto;
    margin-right: 100px;
}
.img-personal-details {
    margin-left: 600px;
}
.name-surname {
    margin-left: 250px;
}
.personaldetails-logo {
    margin-left: 250px;
}
.mywork-content  {
	height: 700px;
}
    .carousel-item p {
        font-size: 20px;
    }
    .movieandchill-carousel img {
        width: 650px;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px){ 
    .img-details {
        margin-left: 250px;
    }
    .entrance-text {
        width: 450px;
    }
    .img-personal-details {
        margin-left: 800px;
    }
    .name-surname {
        margin-left: 400px;
    }
    .personaldetails-logo {
        margin-left: 400px;
    }
    .mywork-content  {
        height: 800px;
    }

        .movieandchill-carousel img {
            width: 800px;
        }
}
@media only screen and (min-width: 1401px) {
    .button-header-content, .education-details, .hobbies-details, .mywork-content, .myskills-content, .language-skills, .container-contact, .row {
        font-size: 20px;
    }
    .mywork-content {
        padding-bottom: 20px;
    }
    .speciality p {
        font-size: 20px;
    }
    .img-details img{
        width: 550px;
        height: 700px;
        margin-left: 100px;
    }
    .entrance-text {
        margin-left: 50px;
        margin-right: 200px;
        font-size: 20px;
        width: auto;
    }
    .entrance-text p, #title-motto-resume, #motto-resume {
        font-size: 20px;
    }
    .img-personal-details {
        margin-left: 850px;
        width: 400px;
        height: 500px;
    }
    .name-surname {
        margin-left: 300px;
        font-size: 20px;
    }
    .personaldetails-logo {
        margin-left: 300px;
    }
    .personaldetails-logo p {
        font-size: 20px;
    }
}
